.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: $dark-grey;
  min-height: 100vh;

  header {
    font-size: 2rem;
    margin: 3rem 0;
    user-select: none;

    h1 {
      font-kerning: 5px;
    }
  }

  .content {
    .render-todos {
      column-count: 3;
      column-width: calc(90% / 1);
      padding: 0 4rem;
      margin-bottom: 8rem;
    }

    .action-button {
      background-color: $light-grey;
      border-radius: 20px;
      border: none;
      bottom: 10rem;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      color: #fff;
      cursor: pointer;
      padding: 0.8rem;
      position: fixed;
      right: 10rem;
      user-select: none;
      z-index: 1000;
    }
  }
}

.editor {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0.3rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
  display: inline-grid;
  font-size: 1.4rem;
  margin: 0rem 1rem 4rem 1rem;
  transition: all 0.4s;

  &:hover {
    box-shadow: 0.6rem 1rem 1.2rem 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-0.1rem);

    .options-icon {
      visibility: visible;
    }
  }

  &-text {
    padding: 3rem;
  }

  [data-slate-editor] > * + * {
    margin-top: 1em;
  }

  :not(pre) > code {
    background-color: #eee;
    font-family: monospace;
    padding: 0.3rem;
  }

  blockquote {
    border-left: $light-border;
    color: #aaa;
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
  }

  blockquote[dir="rtl"] {
    border-left: none;
    border-right: $light-border;
    padding-left: 0;
    padding-right: 1rem;
  }

  ol,
  ul {
    padding-left: 3.5rem;
  }
}
