$light-grey: lighten(
  $color: #000000,
  $amount: 40%
);
$dark-grey: lighten(
  $color: #000000,
  $amount: 80%
);
$light-border: 2px solid #ddd;

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; // 1rem = 10px
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  margin: 0;
}

.app {
  align-items: center;
  background-color: $dark-grey;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10rem;

  .editor {
    width: 80%;
    background-color: #fff;
    font-size: 1.4rem;
    border-radius: 8px;
    box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.5);

    .toolbar {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      padding: 1rem 2rem;
      padding-top: 1.4rem;
      background-color: $light-grey;

      i {
        margin-right: 1.2rem;
        cursor: pointer;
      }
    }

    &-text {
      padding: 3rem;
    }

    [data-slate-editor] > * + * {
      margin-top: 1em;
    }

    :not(pre) > code {
      font-family: monospace;
      background-color: #eee;
      padding: 0.3rem;
    }

    blockquote {
      border-left: $light-border;
      margin-left: 0;
      margin-right: 0;
      padding-left: 1rem;
      color: #aaa;
      font-style: italic;
    }

    blockquote[dir="rtl"] {
      border-left: none;
      padding-left: 0;
      padding-right: 1rem;
      border-right: $light-border;
    }

    ol,
    ul {
      padding-left: 3.5rem;
    }
  }
}
