*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; // 1rem = 10px
}

body {
  box-sizing: border-box;
  color: rgb(82, 82, 82);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.app {
  padding: 10rem;
}
