.modal {
  .editor {
    left: 30vw;
    margin-bottom: 5rem;
    position: absolute;
    top: 30vh;
    width: 50%;

    .toolbar {
      background-color: $light-grey;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      padding-top: 1.4rem;
      padding: 1rem 2rem;

      i {
        cursor: pointer;
        margin-right: 1.2rem;
      }
    }
  }
}
