.modal {
  .editor {
    left: 30vw;
    margin-bottom: 5rem;
    position: absolute;
    top: 30vh;
    width: 50%;

    .toolbar {
      background-color: $light-grey;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      padding-top: 1.4rem;
      padding: 1rem 2rem;

      i {
        cursor: pointer;
        margin-right: 1.2rem;
      }
    }

    .add-button {
      background-color: $light-grey;
      border: none;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      color: #fff;
      cursor: pointer;
      padding: 0.8rem;
    }
  }
}
